@import './base.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 23%, 97%, 0.2);
  }
}

.header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181313;
  color: rgb(83, 81, 81);
}